body {
	background: 
       url("maitre tradi.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 100%;
}

h1 {
  border: 1rem solid;
  border-color: black;
  margin-left: 30%;
  font-size: 140px;
  font-weight: bold;
}

p {
  margin-left: 30%;
  font-size: 20px;
}