body {
	background: 
	   url("gantsblastron.jpg"),
	   url("protegetibias.jpg"),
	   url("coquille.jpg"),
	   url("protegedents.jpg"),
	   url("kimono.jpg"),
	   url("casque.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0 10%, 50% 10%, 100% 10%, 0 90%, 50% 90%, 100% 90%;
	background-size: 30% 30%, 30% 30%, 30% 30%, 30% 30%, 30% 30%, 30% 30%;
}

h1 {
  text-align: left;
  margin-top: 0%;
  font-size: 30px;
  color: red;
}

h2 {
  text-align: center;
  margin-top: -3.15%;
  font-size: 30px;
  color: red;
}

h3 {
  text-align: right;
  margin-top: -4.15%;
  font-size: 30px;
  color: red;
}

h4 {
  text-align: left;
  margin-top: 25%;
  font-size: 30px;
  color: red;
}

h5 {
  text-align: center;
  margin-top: -4.5%;
  font-size: 30px;
  color: red;
}

h6 {
  text-align: right;
  margin-top: -5.5%;
  font-size: 30px;
  color: red;
}