body {
	background: 
       url("unsu.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 90%;
	background-size: 25%;
}

h1 {
  border: 1rem solid;
  border-color: black;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
}